* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.bannerInner {
    padding: 0 !important;
}

/* .carousel-inner>.item>img {

    height: 100vh !important;

} */

footer {
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.topBtn {
    text-align: center;
}

footer p {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

footer ul {
    font-size: 20px;
    letter-spacing: 3px;
}

footer ul li {
    display: inline-block;
}

footer i {
    color: #fff;
}

footer i:hover {
    color: #eca112;
}

.carousel-indicators {
    bottom: 70px !important;
}

.item {
    padding: 485px 0;
    height: 100vh;
}

.bannerTop {
    padding: 35px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
}

.logo span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.logo a:hover, .logo a:focus {
    text-decoration: none !important;
}

.carousel-caption {
    right: 0 !important;
    left: 0 !important;
    padding: 0 5%;
    top: 20%;
}

.contentLeft {
    text-align: left;
}

.contentRight {
    text-align: right;
}

.contentLeft span {
    display: block;
}

.btnMain {
    color: #fff;
    background-color: #eca112;
    border: 1px solid #eca112;
    border-radius: 30px !important;
    text-transform: capitalize;
    font-size: 25px;
    padding: 10px 30px !important;
}

.btnMain:focus, .btnMain:hover {
    background-color: transparent;
    color: #eca112 !important;
    border: 1px solid #eca112;
    text-decoration: none;
    outline: none !important;
}

.bannerList ul {
    list-style: none;
}

.contentLeft h1 {
    font-size: 45px;
    font-weight: 900;
    color: #fff;
    line-height: 55px;
}

.contentLeft h1 span {
    display: block;
}

.contentLeft ul {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 20px;
}

.bannerList li {
    position: relative;
}

.bannerList li:before {
    /* content:url(../images/bullet-icon.png); */
    content: "";
    position: absolute;
    left: -25px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url(../images/bullet-icon.png) no-repeat;
    background-size: 100% 100%;
}

.downloadApp img {
    width: calc(5vw + 5vh + 1vmax);
}

.contentRight img {
    width: calc(10vw + 10vh + 1vmax);
}

.carousel-indicators .active {
    background-color: #eca112 !important;
    border: 1px solid #eca112;
}

.carousel-indicators li {
    background-color: #fff !important;
}

.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn:hover {
    text-decoration: none;
}

/*btn_background*/

.effect01 {
    color: #FFF;
    border: 4px solid #eca112;
    box-shadow: 0px 0px 0px 1px #eca112 inset;
    background-color: #eca112;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 30px !important;
    padding: 5px 20px !important;
    margin-right: 20px;
}

.effect01:hover {
    background-color: #FFF;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

/*btn_text*/

.effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
    text-transform: capitalize;
}

.effect01:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

/*highlight*/

.effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /*easeOutCirc*/
    z-index: 1;
}

.effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.contentLeft p {
    font-size: 20px;
    width: 75%;
    line-height: 28px;
}

.modal-content {
    padding: 25px 35px;
    border-radius: 30px;
}

.modal-content .close {
    border: 2px solid #eca112;
    border-radius: 30px;
    padding: 1px 5px;
    background: #eca112;
    opacity: 1;
    position: relative;
    right: -20px;
    top: -13px;
}

.modal-header {
    border-bottom: 1px solid transparent !important;
}

.intl-tel-input .country-list {
    z-index: 10 !important;
}

.iti-flag {
    background-image: url("../images/flags.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-image: url("../images/flags.png") !important;
    }
}

/* @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {

    .iti-flag {background-image: url("../images/flags@2x.png") !important;}

  } */

.iti__flag.iti__us {
    height: 11px;
    background-position: -5263px 0px;
}

.iti__flag {
    width: 20px;
}

.intl-tel-input {
    width: 100%;
}

.form-control {
    height: auto;
    padding: 20px 12px !important;
}

.formHeight {
    border-left: transparent !important;
}

#telField {
    padding-left: 50px !important;
}

.input-group-addon {
    background-color: #fff;
}

.modal-header h4 {
    color: #eca112;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.modal-header p {
    font-size: 14px;
    text-align: center;
}

.modal-dialog {
    /* width: 850px !important; */
    text-align: center;
    margin: 20vh auto !important;
}

.contactBtn {
    border-radius: 30px !important;
    background: #eca112 !important;
    color: #fff !important;
    font-weight: 600 !important;
    border: 1px solid #eca112 !important;
    margin-top: 30px;
}

.contactBtn:hover {
    background: #fff !important;
    color: #eca112 !important;
}

.btn:focus {
    outline: none !important;
}

.input-group-addon {
    background-color: #fff;
}

.btnIcon {
    background-color: #fff !important;
}

.form-control:focus {
    border-color: #ccc !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.layerRight img {
    width: calc(45vw + 10vh + 10vmin);
}

.logo img {
    width: 15%;
}

.bannerList {
    margin-left: 10px;
}

.contentLeft h2 {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    line-height: 35px;
}

.close {
    color: #fff !important;
}