/* @media screen and (max-width: 1440px){

    .contentLeft p {

        font-size: 24px;

    }

    .contentLeft h1 {

        font-size: 36px;

    }

    



} */

@media screen and (max-width: 1366px) {
    .item {
        padding: 459px 0;
    }
}

@media screen and (max-width: 1280px) {
    .item {
        padding: 440px 0;
    }
    .contentLeft h1 {
        font-size: 42px;
    }
    .contentLeft h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 1150px) {
    .contentLeft h1 {
        font-size: 40px;
    }
    .contentLeft h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1024px) {
    .effect01 {
        padding: 10px 10px !important;
    }
    .btn {
        max-width: 140px;
    }
    .logo img {        
        width: 40%;
    }
    .carousel-caption {
        top: 15%;
    }
    .contentRight img {
        width: 50%;
    }
    .contentLeft h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .contentLeft h2 {
        font-size: 22px;
        line-height: 25px;
    }
    .contentLeft p {
        font-size: 15px;
    }
    .item {
        padding: 451px 0;
    }
}

@media screen and (max-width:960px) {
    .contentLeft h2 {
        font-size: 18px;
        line-height: 24px;
    }
    .contentLeft p {
        font-size: 15px;
        line-height: 20px;
    }
    .contentLeft h1 {
        font-size: 30px;
        line-height: 35px;
    }
}

@media screen and (max-width:850px) {
    .contentLeft ul {
        font-size: 14px;
        line-height: 28px;
    }
    .layerRight img {
        width: calc(40vw + 10vh + 10vmin);
    }
}

@media screen and (max-width:768px) {
    .logo {
        text-align: center;
        margin-bottom: 15px;
    }
    .topBtn {
        text-align: center !important;
    }
    .contentLeft h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .contentRight img {
        width: 60%;
        margin-top: 25px;
    }
    .logo span {
        font-size: 14px;
    }
    .contentLeft ul {
        font-size: 14px;
    }
    .carousel-caption {
        top: 25%;
    }
    .item {
        padding: 515px 0;
        background-position: 60% 100% !important;
    }
    .contentLeft h2 {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }
    .contentLeft h1 {
        font-size: 24px;
        line-height: 30px;
    }
}

@media screen and (max-width: 767px) {
    .logo img {
        width: 15%;
    }
    .contentRight img {
        width: 65%;
    }
    .downloadApp img {
        width: 45%;
    }
    .downloadAppImg img {
        width: 135px;
    }
    .carousel-caption {
        top: 20%;
    }
    .item {
        padding: 441px 0;
    }
    .modal-dialog {
        margin: 10px !important;
    }
}

@media screen and (max-width: 650px) {
    .contentPara p {
        text-align: left !important;
    }
    .contentHeader h1 {
        font-size: 18px !important;
        line-height: 24px !important;
    }
    .contentLeft h1 {
        font-size: 22px;
        line-height: 30px;
        text-align: left;
        margin-bottom: 0;
    }
    .contentLeft span {
        display: contents;
    }
    .bannerList li:before {
        width: 15px;
        height: 15px;
    }
    .carousel-caption {
        position: relative !important;
    }
    .item {
        padding: 175px 0 85px 0;
        min-height: 693px;
        height: 0;
    }
    .contentRight {
        text-align: center;
    }
    .logo span {
        font-size: 18px;
    }
    .logo span {
        font-size: 16px;
    }
    .downloadApp {
        text-align: center;
    }
    .contentRight img {
        margin-top: 35px;
    }
    .contentLeft ul {
        font-size: 12px;
        line-height: 20px;
    }
    .layerRight img {
        margin-top: 30px;
    }
    .contentLeft p {
        font-size: 14px;
        line-height: 24px;
        width: 100%;
        text-align: left;
        margin: 0 auto;
        padding: 15px 0;
    }
    .contentLeft h2 {
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        margin-bottom: 0;
    }
    .layerRight img {
        width: 100%;
    }  
    .btn {
        margin: 0 10px !important;
    }
    .logo img {
        width: 30%;
    }

}
@media screen and (max-width: 550px){
    .contentRight img {
        margin-top: 25px;
    }
    .item {
        padding: 60px 0 85px 0;
        min-height: 100vh;
    }
    .contentLeft h1 {
        font-size: 18px;
        line-height: 24px;
    }
    .contentHeader h1 {
        font-size: 14px !important;
        line-height: 18px !important;
    }
    .contentLeft h2 {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width:450px) {
    .btn {
        max-width: 110px;
        font-size: 13px !important;
    }
    .contentLeft {
        margin-top: 20px;
    }
    .contentRight img {
        margin-top: 20px;
    }
    .item {
        min-height: 100vh;
        padding: 0;
    }
    .contentLeft h1 {
        font-size: 14px;
        line-height: 16px;
        margin-top: 0;
    }   
    
    .contentLeft ul {
        font-size: 16px;
    }
    .contentLeft h2 {
        font-size: 14px;
        line-height: 18px;
    }   
    .contentLeft ul {
        margin-top: 10px;
        font-size: 12px;
        line-height: 16px;
    }
    .contentLeft p {
        font-size: 14px;
        line-height: 18px;
        padding: 5px 0;
    }
    .contentHeader h1 {
        font-size: 13px !important;
        line-height: 18px !important;
        margin: 25px 0 5px 0;
    }  
}
@media screen and (max-width: 420px){
    .carousel-caption {
        top: 18%;
    }
    .contentHeader h1 {
        font-size: 14px !important;
        line-height: 18px !important;
        margin: 0;
    }
    .contentLeft h1 span {
        display: contents;
    }
    .btn 
    {  
        max-width: 115px;
        padding: 6px 6px !important;
        font-size: 12px !important;
    }    
    
}

@media screen and (max-width:375px) {
    .effect01 {
        padding: 5px 5px !important;
    }
    .contentRight img {
        width: 85%;
    }
    .effect01 {
        margin: 15px 0;
    }
    .contentLeft p {
        width: 100%;
    }
    .logo span {
        font-size: 14px;
    }
    .contentLeft ul {
        font-size: 11px;
        line-height: 16px;
    }
    .carousel-caption {
        top: 20%;
    }
}

@media screen and (max-width: 360px) {
    .logo span {
        font-size: 12px;
    }
    .bannerList li:before {
        top: 3px;
        width: 12px;
        height: 12px;
        left: -15px;
    }
    .bannerList {
        margin-left: 0px;
    }
    .contentLeft ul {
        margin-left: 5px;
    }
    .downloadApp img {
        width: 45%;
    }
    .contentHeader h1 {
        font-size: 11px !important;
        line-height: 16px !important;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .carousel-indicators {
        bottom: 50px !important;
    }
    footer p {
        margin: 2px ;
        font-size: 14px;
    }
    .contentLeft h1 {
        margin-top: 20px;
    }
    .contentRight img {
        margin-top: 20px;
    }
    .carousel-caption {
        top: 2%;
    }
    .contentLeft h1 {
        font-size: 12px;
    }
    .contentLeft p {
        font-size: 12px;
        line-height: 16px;
    }
    .contentLeft ul {
        font-size: 10px;
        line-height: 14px;
    }
    .contentLeft h2 {
        font-size: 12px;
        line-height: 16px;
        margin-top: 0;
    }
    .logo span {
        font-size: 12px;
    }
    .effect01 {
        padding: 6px 12px !important;
    }
    .item {
        padding: 125px 0 85px 0;
    }
    .bannerTop {
        padding: 24px 16px;
    }
    .contentHeader h1 {
        font-size: 10px !important;
        line-height: 10px !important;
        margin: 34px 0 5px 0;
    }

}