.packagesList
{
	border: #ccc solid 1px;
	transition-duration: .3s;
	margin: 10px 0;
}
.packagesList:hover
{
	box-shadow: 1px 1px 30px #ccc;
	transition-duration: .3s;
}
.pkgHead
{
	 padding: 13px 0;
	  text-align: center;
	  font-weight: 700;
	  font-size: 22px;
	  color: #fff;
}
.pkgHead1
{
	  background: #eca112;
}
.pkgDet
{
	background: #fff;
	padding: 50px 0;
	text-align: center;
}
.pkgDet h4
{
	font-weight: 700;
	font-size: 15px;
}
.pkgDet h2
{
	font-size: 50px;
	font-weight: 400;
	margin: 17px 0;
}
.pkgDet h3
{
	font-weight: 700;
	font-size: 16px;
}
.packagesList1
{
	color: #231f20;
}
.packagesList2
{
	color: #0092af;
}
.packagesList3
{
	color: #00bfad;
}
.pkgBtn
{
	width: 70%;
	margin: 0 auto;
	padding: 10px 0;
	font-size: 17px;
	font-weight:700;
	color: #fff;
	margin-top: 90px;
	display: block;
}
.packagesList1 .pkgBtn
{
	background: #eca112;
	border: #eca112 solid 1px;
	transition-duration: .3s;
}
.packagesList1 .pkgBtn:hover
{
	background: #b77e11;
	color: #fff;
	transition-duration: .3s;
}
.packagesList2 .pkgBtn
{
	background: #0092af;
	border: #0092af solid 1px;
	transition-duration: .3s;
}
.slideanim
{
    padding: 30px 0;
}
.pkgDet ul
{
	list-style: none;
	padding: 0;
}

.skin-blue .main-header .logo {
    background-color: #b77e11;
    }
    .skin-blue .main-header .navbar {
    background-color: #eca112;
}
.btnSubmit
{
	background: #eca112;
	border: #eca112 solid 1px;
	transition-duration: .3s;
}
.btnSubmit:hover
{
	background: #b77e11;
	color: #fff;
	transition-duration: .3s;
	border: #b77e11 solid 1px;
}
form.delete_item
{
	display: inline;
}
.skin-blue .main-header .logo:hover {
    background-color: #b77e11;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #b77e11;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side
{
	background: #222d32;
}
.pkgDet ul li
{
	font-size: 16px;
	line-height: 30px;
}
.box-body ul
{
	padding-left: 15px;
}
.currentHotel
{
	color: #eca112;
	font-weight: 700;
}
.tab-content>.active {
    display: block;
    padding: 20px 0;
}
.direct-chat-messages {
    height: 470px;

}
.box-body .products-list  {
	padding-left: 0;
}
.products-list .item {
	border-top: #ccc solid 1px;
	border-bottom: #ccc solid 1px;
	padding: 10px 20px;
	margin: 10px 0;
}
.login-page, .register-page {
    background: #eca112;
}
.auth-links a
{
	color: #666;
}
.bgClr
{
	border: solid 1px #ccc;
	margin: 10px 0;
	padding: 10px 10px;
	box-sizing: border-box;
}
.form-group
{
	/*min-height: 84px;*/
}
label span
{
	color: red;
}
.tripTable
{
	overflow-x: scroll;
}
.tripTable .dataTable
{
	width: 150%;
}
.login-box-body .form-group
{
	min-height: auto;
}
.viewPackage
{
	float: right !important;
}
.packageList
{
	width: 50%;
	text-align: left;
	margin: 0 auto;
}
.packageList b
{
	float: right;
}
.scrollContentDashboard
{
	height: 250px;
	overflow-y: scroll;
}
.scrollContentDashboardNotice
{
	height: 305px;
}
.overflowScrollY
{
	overflow-y: scroll;
}
.toggle-group .toggle-on
{
	background-color: #eca112;
    border-color: #eca112;
}
.toggle 
{
	border-color: #eca112;	
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #d49110 !important;
    	border-color: #d49110 !important;	
    	transition-duration: .3s;
}
.btn-primary.focus, .btn-primary:focus
{
	background-color: #eca112 !important;
    	border-color: #eca112 !important;
}
.toggle.btn {
    min-width: 59px;
    min-height: 24px !important;
    height: 24px !important;
}
.toggle-group .toggle-on,.toggle-group .toggle-off
{
	padding-top: 0;
	padding-bottom: 0;
}
.toggle-handle
{
	padding-top: 30px;
	padding-bottom: 30px;
}
.toggle-group .btn
{
	border-color: #eca112 !important;
	border: none;
}
#viewImage
{
	width: 130px;
	height: 130px;
	object-fit: cover;
	/*margin:10px 0;*/
}
.propic {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.propic + label {
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	font-size: 13px;
	color: #737373;
	font-weight: 400;
	cursor: pointer;
	transition-duration: .2s;
}
.logo-lg img
{
	/*width: 100%;
	height: 50px;
	object-fit: cover;*/
}
.tripImage img
{
	width: 100%;
}
.datepicker {
    padding-left: 10px;
}
.activeBtnTab
{
	background: #266184 !important;
	border-color: #266184 !important
}

.activeBtnTab
{
	background: #eca112 !important;
	border-color: #eca112 !important
}
.btnInTrip
{
	cursor: not-allowed;
	 pointer-events: none;
}
.assignCustomer h3
{
	margin-top: 0;
}
.borderAssignCustomer
{
	border: #ccc solid 1px;
}
.checkboxesMain
{
	list-style: none;
}
.viewAssignClientsBtn
{
	text-align: right;
}
.mrgnTp
{
	margin-top: 20px;
}
.skin-blue .main-header .logo {
    background-color: #eca112;
}
/*.main-header .logo {
    height: auto;
}*/
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    margin-top: 10px;
}
.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #402d0a;
}
.main-header .sidebar-toggle {
 	    padding: 20px 15px;
}
.navbar-nav>li>a {
    padding-top: 19px;
    padding-bottom: 19px;
}
.select2
{
	width: 100% !important;
}
.skin-blue .main-header .logo:hover {
     background-color: #eca112; 
}
.tab-content>.active {
    padding: 0 0;
}
.nav-tabs>li.active>a
{
	color: #fff !important;
}
.nav-tabs {
    padding:0 !important;
    margin-bottom: 10px;
    border: 0;
}
.nav-tabs li
{
	border-bottom: 1px solid #ddd;
} 
.panel-default>.panel-heading {
    color: #fff;
    background-color: #eca112;
    border-color: #eca112;
}
.panel-default>.panel-heading a:hover,.panel-default>.panel-heading a:focus
{
	color: #fff;
}
.assignCustomerBtns
{
	margin-bottom: 20px;
}
.panel-default>.panel-heading span a
{
	color: #fff;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.btnTabHead
{
	border: #fff solid 1px;
	padding: 2px 20px;
	box-sizing: border-box;
	background: none;
	font-size: 12px;
}
.main-header .logo {
    min-height: 60px;
}
.content-header>.breadcrumb {
    float: none;
    top: 0;
    position: relative;
    text-align: right;
}
.content-header>h1 {
    float: left;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    text-align: center;
}
.clientsModal
{
	height: 500px;
	overflow-y: scroll;
}
#multiSteps img
{
	width: 100%;
}
.sectionNameArea
{
    height: 190px;
    overflow-y: scroll;
}
.AppendTextBoxHeight
{
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
}
.redactor_editor
{
	height: 200px;
}
.travelAgencyTableBtn .dataTables_length
{
	margin-top: -30px;
} 

.newMessageAlertParent
{
	position: relative;
}
.newMessageAlert {
    position: absolute;
    top: -2px;
    right: 12px;
    background: red;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    text-align: center;
    color: #fff;
}
.form-group.has-error label {
    color: #000;
}
.text-danger {
    color: red !important;
}
.small-box>.inner {
    padding: 11px;
}
.select2-container .select2-selection--multiple {
    min-height: 34px !important;
}
.paddingNone
{
	padding: 0;
}
table.dataTable
{
	width: 100% !important;
}
.pageCustom
{
	background: #eca112;
}
.pageCustom .login-box{
    width: 80%;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    background: none;
    padding: 0;
}
.treeview-menu>li.active {
    background: #b77e11;
}
.wysihtml5-sandbox
{
	width: 100% !important;
}
/*.breadcrumb
{
	position: relative;
	float: left;
	left: 0;
	right: auto;
}*/
/*.breadcrumbLeft
{
	float: left;
	position: absolute;
	left: 0;
	right: auto;
}*/
/*.datepicker-days
{
	width: 100%;
}
.datepicker table {
    width: 100%;
 }
 .datepicker {
    min-width: 380px;
}*/
@media screen and (max-width: 767px)
{
	.main-header .logo
	{
		/*display: none;*/
	}
	.navbar-custom-menu
	{
		/*display: none;*/
	}
	.content-header>.breadcrumb {
    float: right;
    margin: 0;
}
.clientBtnAdd 
{
	text-align: left;
}
.clientBtnAdd .btnSubmit {
    margin: 2px 0;
}
.box-body .col-md-1
{
	padding: inherit;
	box-sizing: border-box;
}
.main-sidebar {
    padding-top: 50px;
}
.content-header>.breadcrumb {
    padding: 7px 8px;
}
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter
{
	text-align: left;
}
/*.paddingNone
{
	padding: 0 10px !important;
}*/
.menuNew
{
/*display: none;*/
}
table.dataTable {
    width: 280% !important;
}
.main-header .sidebar-toggle {
    padding: 15px 15px;
}
.propic + label
{
	text-align: center;
}
.logo-lg img {
    width: auto;
    height: auto;
}
#multiSteps .panel-heading{
    padding: 10px 15px 50px;
}
.assignCustomer .panel-heading{
    padding: 10px 15px 40px;
}
#multiSteps .panel-heading .pull-right,.assignCustomer .panel-heading .pull-right {
    float: right!important;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#multiSteps .panel-title,.assignCustomer .panel-title
{
	text-align: center;
}
#multiSteps img {
    width: 81%;
}
.login-logo
{
	display: none;
}
}
@media screen and (max-width: 450px)
{
	.dataTables_wrapper
{ 
	overflow-x: scroll;
}
.sidebar-menu {
    margin-top: 70px;
}
.content-header {
    padding: 35px 15px 0 15px;
}
}
